.options{
    width: 200px;
    height: auto;
    padding: 25px;
    background-color: rgba(17, 25, 40, 0.981);
    border-radius: 10px;
    border: 1px solid var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 10px;


    button{
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 15px;
        background-color: #ffffffc7;
        padding: 5px 0 5px 17px;
        cursor: pointer;
        
        .icon{
            margin-top: 3px;
        }
    }

    hr{
        border-style: solid none none;
        border-width: 1px;
        width: 95%;
        margin: 0 auto;
        border-color: #ffffffc7;
    }
}